@model DiscussionViewModel

@{
    ViewData["Title"] = $"{Model.Discussion.Name}-MF Forum";
}



<div id="PlaceHolderHere">
    <input type="hidden" class="currentUrl" value="@TempData["Url"]">

</div>
<div><input type="hidden" id="discussionId" value="@Model.Discussion.Id"/></div>
<div>

    <div width="100%" ;>
        @if (Model.Discussion != null)
        {


            <div class="row border forBorder">

                <div class="col-sm-2 bg-dark">

                    <div class="row ">
                        @if (Model.Discussion.User.Avatar != null)
                        {
                            <img style='width:100%; max-height:140px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Discussion.User.Avatar))" />
                        }
                    </div>
                    <div class="row text-light">
                        @Model.Discussion.User.UserName
                    </div>
                    <div class="row text-light">
                        @Model.Discussion.Date
                    </div>
                </div>

                <div class="col-sm-10 ">

                    <p>
                        <h3 style="display:block"> @($"{ @Model.Discussion.Name}")</h3>
                    </p>

                    <p class="discussionDescription">@($"{ @Model.Discussion.Description}")</p>



                </div>


            </div>

            <br />
            <br />
           
                @foreach (Message message in Model.Discussion.Messages)
                {


                    <div id="message @message.Id">
                        <div class="row border forBorder">


                            <div class="col-sm-2 bg-dark">

                                <div class="row ">
                                    @if (message.User.Avatar != null)
                                    {
                                        <img style='width:100%; max-height:140px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(message.User.Avatar))" />
                                    }
                                </div>
                                <div class="row text-light">
                                    @message.User.UserName
                                </div>
                                <div class="row text-light">
                                    @message.Date
                                </div>
                            </div>

                            <div class="col-sm-10 ">

                                <p id="text @message.Id">@($"{ message.Text}")</p>




                                @*//редактировать сообщение может тольок тот кто его написал*@
                                @if (message.UserId == Model.UserId)
                                {
                                    <div class="row ">
                                        <a id="@message.Id" class="editMessageLink" href="#" type="button" data-toggle="ajax-model"
                                           data-target="#editMessage">
                                            Edit
                                        </a>

                                    </div>
                                    <br />
                                }
                                @*//удалять сообщение может только админ*@
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="row ">
                                        <button class="deleteMessageButton btn btn-danger" id="@message.Id" type="button"
                                                data-url="@Url.Action("Delete","Messages",new { area = "User" })">
                                            Delete message
                                        </button>

                                    </div>
                                }
                            </div>


                        </div>
                    </div>
                    <br />

                }
            
            <br />
            <form id="myForm" asp-area="User" asp-controller="Messages" asp-action="Create" method="post">

                <input class="currentId" type="hidden" name="redirectUrl" value="@TempData["Url"] ">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="row">



                        <div class="form-group">
                            <input id="addMessage" class="btn btn-primary" type="submit" value="Add a new message" />
                        </div>



                    </div>
                }
                else
                {
                <div class="row">
                    
                            <span>
                                To write messages
                                <a href="@Url.Action("Login", "Account", new { returnUrl=TempData["Url"]})"> Log in </a> or
                                <a href="@Url.Action("Registration", "Account", new { returnUrl=TempData["Url"]})"> Registrate</a>
                            </span>
                    

                    </div>
                }
                <div class="row ">

                    <div class="col-sm-12 ">

                        <textarea name="commentText" id="commentText" cols="160" rows="10"></textarea>
                    </div>

                </div>
            </form>
            <br />
        }





    </div>
</div>

