@model TopicViewModel

@{
    ViewData["Title"] = $"{Model.TopicName}-MF Forum";
}


<title>@Model.TopicName</title>


<div>
    
    <div width="100%" ;>
        @if (Model != null)
        {


            <div class="row ">

                <div class="col-sm-4 badge-success">

                    <a class="text-light" asp-area="" asp-controller="Discussions" asp-action="Index">
                        <h3 style="display:block"> @($"{Model.TopicName}")</h3>
                    </a>
                </div>


            </div>

            <div class="row ">


                <div class="col-sm-4 badge-warning">
                    <p class="alert-dark">
                        @if (Model.discussions.Count() == 1)
                        {

                            <h5 style="display:block"> Total: @Model.discussions.Count() discussion </h5>

                        }
                        else
                        {
                       
                            <h5 style="display:block"> Total: @Model.discussions.Count() discussions </h5>
                       
                         }
                    </p>
                    </div>



            </div>
            <br /> 
            <div class="row ">



                <form asp-area="User" asp-controller="Discussions" asp-action="Create" method="get">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Create a new discussion" />
                    </div>
                </form>


            </div>

            <br />

            <div class="row ">

                <div class="col-sm-4 badge-success">

                    <p>
                        <h3 style="display:block"> Discussion name </h3>
                    </p>
                </div>
                <div class="col-sm-4 badge-success">

                    <p>
                        <h3 style="display:block"> Description </h3>
                    </p>
                </div>
                <div class="col-sm-4 badge-success">

                    <p>
                        <h3 style="display:block"> Last comment </h3>
                    </p>
                </div>

            </div>
            @foreach (Discussion discussion in Model.discussions)
            {
                <div class="row ">
                    <div class="col-sm-4 bg-primary">


                        <div class="row ">

                            <a class="text-light" asp-area="" asp-controller="Discussions" asp-action="Discussion" asp-route-id="@discussion.Id">
                                <h3 style="display:block"> @($"{discussion.Name}")</h3>
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 bg-primary">
                        <div class="row ">

                            <p class="text-light">
                                <h4 style="display:block"> @($"{discussion.Description}")</h4>
                            </p>


                        </div>
                    </div>

                    <div class="col-sm-4 bg-primary">
                        @if (Model.lastMessages.FirstOrDefault() != null)
                        {

                            <div class="row ">

                                <p class="text-light">
                                    <h4 style="display:block"> @($"{  Model.lastMessages.Where(x => x.DiscussionId == discussion.Id).FirstOrDefault().Text}")</h4>
                                </p>


                            </div>
                            <div class="row ">

                                <p class="text-light">
                                    <h5 style="display:block"> @($"{  Model.lastMessages.Where(x => x.DiscussionId == discussion.Id).FirstOrDefault().Date}")</h5>
                                </p>


                            </div>
                        }
                        else
                        {
                            <div class="row ">

                                <p class="text-light">
                                    <h4 style="display:block"> ---- </h4>
                                </p>


                            </div>
                        }
                    </div>
                </div>




            }









        }



    </div>
</div>
